<div class="container w">
    <div class="row">
      <br>
      <br>
      <div class="col-md-4 centered">
        <i class="fa fa-male"></i>
          <h4> Родители</h4>
            Дают задания<br>
            Оценивают стоимость заданий<br>
            Подтверждают факт выполнения заданий<br>
            Контролируют расхорд<br>                           
      </div>
      <div class="col-md-4 centered">
        <i class="fa fa-child"></i>
          <h4> Дети</h4>
            Выполняют задания<br>
            Зарабатывают баллы<br>
            Тратят баллы в машазине<br>
            Инвестируют в банке<br>
      </div>
      <div class="col-md-4 centered">
        <i class="fa fa-store"></i>
          <h4> Магазин</h4>
            Обменивайте быллы на деньги<br>
            Обменивайте баллы на бонусы<br>
            Банк. Инвестируйте баллы<br>
      </div>
    </div>
</div>