{% extends "base.html" %}

{% block page_content %}
    <h1>Edit Group</h1>
    {% if current_user == group.owner %}
    <div class="container">
        <div class="row">
          <div class="col-md-3">
       
            {{ wtf.quick_form(form) }}

            {% if form.errors %}
            <h4>Something goes wrong!</h4>
            {% endif %}
            {% for subform in form %}
            {% for error in subform.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
    </div>
    <br>
    <p><a href="{{ url_for('delete_group', groupname=group.groupname) }}">Delete group</a></p>
    {% else %}
    <p>You can't edit alien group</p>
    {% endif %}
{% endblock %}

