
{% extends "base.html" %}

{% block page_content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>Edit Profile</h1>
        {{ wtf.quick_form(form) }}

        {% if form.errors %}
        <h4>Something goes wrong!</h4>
        {% endif %}
        {% for subform in form %}
        {% for error in subform.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{#     <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div class="input submit">
         <p>{{ form.submit() }}</p> 
        </div>
        
    </form>
</div> #}

{#  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="username">username:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?">
      <br>
      <label for="about_me">about_me:</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you.">

 
 
    </div>
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form> #}

