{% extends "base.html" %}

{% block page_content %}
    
  <div class="row bg-light">
    <div class="col-md-4">
      <h1>Group {{ group.groupname }}</h1>
      <p>
          Admin:
          <a href="{{ url_for('user', username=group.owner.username) }}">{{ group.owner.username }}</a>
      </p>
      <p>{% if group.description %}<p>{{ group.description }}</p>{% endif %}</p>
    </div>    

    <div class="col-md-3">
      <div class="list_group">
        {% if group.owner == current_user %}
        <a href="{{ url_for('expand_group', groupname=group.groupname) }}" class="list-group-item list-group-item-action">Add or delete users</a>
        <a href="{{ url_for('edit_group', groupname=group.groupname) }}" class="list-group-item list-group-item-action">Edit group</a>
        {% endif %}
        {% if current_user in group.members %}
        <a href="{{ url_for('leave_group', groupname=group.groupname) }}" class="list-group-item list-group-item-action">Leave the group</a>
        {% else %}
        <a href="{{ url_for('join_group', groupname=group.groupname) }}" class="list-group-item list-group-item-action bg-success">Join the group</a>
        {% endif %} 
        </div>
      </div>
          
      <div class="col-md-4">
        <h5>Members</h5>
        {% for user in group.members %}
        <a href="{{ url_for('user', username=user.username) }}">
          <div class="row border">
            <div class="col-md-3">              
              <img src="{{ user.avatar(40)}}">
            </div>
            <div class="col-md-6">
              {{ user.username }}      
             </div>
          </div>
        </a> 
        {% endfor %}    
      </div>
  </div>
  <br>

    {% if current_user in group.members %}
    {% include '_tasklist.html' %}    
    {% endif %}

{#       {% for user in group.members %}
        <div class="card" style="width: 3rem;">
        
        <div class="card-body">          
          {{ user.username }}
        </div>
        </div>
        {% endfor %}
    </div> #}


   
{% endblock %}