<nav class="navbar  navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
<a class="navbar-brand" href="#">
  <img src="1318194.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
  KidsFinance
  <!-- src="fin_jang_by_ropa_to-d6psey3.png" -->
</a>
<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="nav navbar-nav ml-auto">
    <li class="navbar-item active"><a href="#" class="nav-link">Главная</a></li>
    <li class="navbar-item"><a href="#" class="nav-link">Как это работает</a></li>
    <li class="navbar-item"><a href="#" class="nav-link">Обратная связь <i class="fa fa-envelope"></i></a></li>
    <li class="navbar-item">
      <button class="btn btn-primary" data-toggle="modal" data-target="#LoginField">
        Вход
      </button>
    </li>
  </ul>
</div>
</nav>