{% extends "base.html" %}

{% block body %}
  {% include 'header.html' %}
<!-- MODAL FOR LOGIN -->
  <div class="modal fade" id="LoginField" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h4>
            <img src="{{ url_for('static', filename='img/HelloBear.jpg') }}" width="50" alt="" >
            Хоп Хэй Ла-ла-лэй!
          </h4>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- LOGIN FORM -->
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="login-input">Login</label>
              <div class="col-sm-10">
                <input type="text" id="login-input" class="form-control">
                <p class="help-block font-weight-light">Введите Ваш email</p>
              </div>

            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="password-input">Password</label>
              <div class="col-sm-10">
                <input type="password" id="password-input" class="form-control">
                <p class="help-block font-weight-light">Нужен Ваш сверхсекретный пароль</p>
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">
                  Проникнуть <i class="fas fa-sign-in-alt"></i>
                </button>
                
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Выйти</button>
          <button type="button" class="btn btn-primary">Войти</button>
        </div> -->
      </div>
    </div>
  </div>

  <div id="mainblock">
    <div class="conteiner">
      <div class="row centered">
        <div class="col-lg-6 col-lg-offset-2">
          <h1>Kids Finance</h1>
          <h2>Простое web-приложение для обучения детей финансовой грамотности</h2>
          <h3>Родители ставят задачи, дети выполняют и зарабатывают баллы, которые можно потратить в магазине. <span>Все счастливы!</span></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container w">
    <div class="row">
      <br>
      <br>
      <div class="col-md-4 centered">
        <i class="fa fa-male"></i>
          <h4> Родители</h4>
            Дают задания<br>
            Оценивают стоимость заданий<br>
            Подтверждают факт выполнения заданий<br>
            Контролируют расхорд<br>                           
      </div>
      <div class="col-md-4 centered">
        <i class="fa fa-child"></i>
          <h4> Дети</h4>
            Выполняют задания<br>
            Зарабатывают баллы<br>
            Тратят баллы в машазине<br>
            Инвестируют в банке<br>
      </div>
      <div class="col-md-4 centered">
        <i class="fa fa-store"></i>
          <h4> Магазин</h4>
            Обменивайте быллы на деньги<br>
            Обменивайте баллы на бонусы<br>
            Банк. Инвестируйте баллы<br>
      </div>
    </div>
  </div>

<div id='f'>
  <div class="container">
    <div class="row  justify-content-center">

      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-vk"></i></a>
      <a href=""><i class="fab fa-odnoklassniki"></i></a>
      <a href=""><i class="fab fa-telegram"></i></a>
      <a href=""><i class="fab fa-whatsapp"></i></a>

    </div>
  </div>
</div>
{% endblock %}