{% extends 'base.html' %}

{% block content %}
  
  <h1>Hello, {{ current_user.username }}</h1>
  <p>I am a {{ current_user.role.rolename }}</p>
{#   <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.task.label }}<br>
            {{ form.task(cols=32, rows=4) }}<br>
            {% for error in form.task.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.gold.label }}<br>
            {{ form.gold(size=35) }}<br>
            {% for error in form.task.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form> #}
  {% for task in tasks %}
  <div>
    <p>
      {{ task.author.username }} creates task:
      <b>{{ task.body }}</b>
    </p>
  </div>
  {% endfor %}

{% endblock %}